
.card-body{
display: flex;
}

.btns{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blockquote{
    margin-left:20px;
}

.up-btn{
    width: 0;
  height: 0;
  border: 100px solid white;
  border-top: 0;
  border-bottom: 20px solid red;
}