

.card{
    width:700px;
    min-width: 90%;
    word-break: break-all;
    margin-bottom: 20px;
}
.card-body{
display: flex;
}

.btns{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blockquote{
    margin-left:20px;
}

.up-btn{
  width: 0px;
  height: 0px;
  border-left: 20px solid white;
  border-right: 20px solid white;
  border-top: 0;
  border-bottom: 25px solid blue;

}

.down-btn{
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-top:30px solid red;
    border-bottom: 0;   
}

.counts{
    font-size: 20px;
}

.delete-btn{
    background-color:transparent !important;
    margin: auto;
    border: none;
    color:red;
    font-size: 20px;
}

h4{
    width:700px;
}