form{
    margin: auto;
    text-align: center;
}

.form-group {
    margin:20px;
    width: 450px; 
}

.alert{
    height:auto;
}

#btn{
    width:200px; 
}

input[type="text"], #btn{
    outline:none;
}
