.hero{
    padding:20px 0%;
width:80vw;
}

.quotes{
    flex: 0.9;
    padding: 20px 10px;
}

form{
    margin: auto;
    text-align: center;
    
}

.form-group {
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
    width: 450px; 
}

.alert{
    height:auto;
}

#btn{
    width:200px; 
}

input[type="text"], #btn{
    outline:none;
}
